._55yn._55yo {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/n-uOOobFC9i.png);
	height: 12px;
	width: 12px
}

._55yn._55yp {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yn/r/O1LrqXHR9oZ.png);
	height: 12px;
	width: 12px
}

._55yq {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/onuUJj0tCqE.png);
	height: 24px;
	width: 24px
}

._5tqs {
	animation-play-state: paused;
	display: none
}

._5tqs.async_saving,
.async_saving ._5tqs {
	animation-play-state: running;
	display: inline-block
}

._2y32 {
	animation-play-state: paused
}

._5d9- {
	animation: none;
	background-repeat: no-repeat
}

._5d9-._55yn {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/AGUNXgX_Wx3.gif);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 2px;
	height: 16px;
	width: 16px
}

._5d9-._55yq {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/b53Ajb4ihCP.gif);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 2px;
	height: 32px;
	width: 32px
}

@keyframes rotateSpinner {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

.sp_J1VdeHiAWEU {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/RdxfJ6uBi_L.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px
}

.sp_J1VdeHiAWEU.sx_e93505 {
	background-position: 0 -50px
}

.sp_J1VdeHiAWEU.sx_740d7f {
	background-position: 0 -71px
}

.sp_J1VdeHiAWEU.sx_1dc3af {
	background-position: 0 -92px
}

.sp_J1VdeHiAWEU.sx_470716 {
	background-position: 0 -113px
}

.sp_J1VdeHiAWEU.sx_b1a2ff {
	background-position: 0 -134px
}

.sp_J1VdeHiAWEU.sx_ec94e3 {
	background-position: 0 -155px
}

.sp_J1VdeHiAWEU.sx_4946f6 {
	background-position: 0 -176px
}

.sp_J1VdeHiAWEU.sx_a53aa6 {
	width: 24px;
	height: 24px;
	background-position: 0 0
}

.sp_J1VdeHiAWEU.sx_fd0c94 {
	background-position: 0 -197px
}

.sp_J1VdeHiAWEU.sx_cdb5aa {
	background-position: 0 -218px
}

.sp_J1VdeHiAWEU.sx_fcd4b4 {
	background-position: 0 -239px
}

.sp_J1VdeHiAWEU.sx_dafd6b {
	width: 24px;
	height: 24px;
	background-position: 0 -25px
}

.sp_J1VdeHiAWEU.sx_6639da {
	background-position: 0 -260px
}

.sp_J1VdeHiAWEU.sx_3e723d {
	background-position: 0 -281px
}

.sp_J1VdeHiAWEU.sx_8dc96c {
	background-position: 0 -302px
}

.sp_J1VdeHiAWEU.sx_4b9e72 {
	background-position: 0 -323px
}

.sp_J1VdeHiAWEU.sx_f8753e {
	background-position: 0 -344px
}

.sp_J1VdeHiAWEU.sx_5ba57d {
	background-position: 0 -365px
}

.sp_J1VdeHiAWEU.sx_070b2e {
	background-position: 0 -386px
}

.sp_J1VdeHiAWEU.sx_2c5143 {
	background-position: 0 -407px
}

.sp_J1VdeHiAWEU.sx_0fbab1 {
	background-position: 0 -428px
}

.sp_J1VdeHiAWEU.sx_15dbc0 {
	background-position: 0 -449px
}

.sp_J1VdeHiAWEU.sx_cd66f8 {
	background-position: 0 -470px
}

.sp_lt0GFPl4Fwp {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/tY_CvyLI3v5.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px
}

.sp_lt0GFPl4Fwp.sx_6aee48 {
	width: 20px;
	height: 20px;
	background-position: 0 0
}

.sp_lt0GFPl4Fwp.sx_e6e120 {
	background-position: 0 -84px
}

.sp_lt0GFPl4Fwp.sx_ea793e {
	width: 20px;
	height: 20px;
	background-position: 0 -21px
}

.sp_lt0GFPl4Fwp.sx_275381 {
	background-position: 0 -101px
}

.sp_lt0GFPl4Fwp.sx_632299 {
	width: 8px;
	height: 8px;
	background-position: 0 -220px
}

.sp_lt0GFPl4Fwp.sx_f6c329 {
	width: 20px;
	height: 20px;
	background-position: 0 -42px
}

.sp_lt0GFPl4Fwp.sx_494a1c {
	background-position: 0 -118px
}

.sp_lt0GFPl4Fwp.sx_e4635c {
	background-position: 0 -135px
}

.sp_lt0GFPl4Fwp.sx_77356e {
	background-position: 0 -152px
}

.sp_lt0GFPl4Fwp.sx_6c2870 {
	width: 20px;
	height: 20px;
	background-position: 0 -63px
}

.sp_lt0GFPl4Fwp.sx_de7462 {
	background-position: 0 -169px
}

.sp_lt0GFPl4Fwp.sx_5f9c45 {
	background-position: 0 -186px
}

.sp_lt0GFPl4Fwp.sx_3b22ef {
	background-position: 0 -203px
}

.sp_xZndl_I--mm {
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/j1-chTITpkS.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px
}

.sp_xZndl_I--mm.sx_92f43c {
	width: 12px;
	height: 12px;
	background-position: 0 -1047px
}

.sp_xZndl_I--mm.sx_e2b387 {
	width: 12px;
	height: 12px;
	background-position: 0 -1060px
}

.sp_xZndl_I--mm.sx_921bea {
	width: 16px;
	height: 16px;
	background-position: 0 -826px
}

.sp_xZndl_I--mm.sx_c1f651 {
	width: 16px;
	height: 16px;
	background-position: 0 -843px
}

.sp_xZndl_I--mm.sx_aef619 {
	width: 12px;
	height: 12px;
	background-position: 0 -1073px
}

.sp_xZndl_I--mm.sx_f273ec {
	width: 16px;
	height: 16px;
	background-position: 0 -860px
}

.sp_xZndl_I--mm.sx_a5e123 {
	width: 8px;
	height: 8px;
	background-position: -13px -1047px
}

.sp_xZndl_I--mm.sx_5ec62a {
	background-position: 0 -175px
}

.sp_xZndl_I--mm.sx_3b3483 {
	width: 8px;
	height: 8px;
	background-position: -13px -1056px
}

.sp_xZndl_I--mm.sx_4a587e {
	background-position: 0 -196px
}

.sp_xZndl_I--mm.sx_e2ffb0 {
	width: 8px;
	height: 8px;
	background-position: -13px -1065px
}

.sp_xZndl_I--mm.sx_1bc3c0 {
	width: 8px;
	height: 8px;
	background-position: -13px -1074px
}

.sp_xZndl_I--mm.sx_c624cf {
	width: 12px;
	height: 12px;
	background-position: 0 -1086px
}

.sp_xZndl_I--mm.sx_4419a2 {
	background-position: 0 -217px
}

.sp_xZndl_I--mm.sx_5e2f9e {
	width: 12px;
	height: 12px;
	background-position: 0 -1099px
}

.sp_xZndl_I--mm.sx_914b4b {
	width: 16px;
	height: 16px;
	background-position: 0 -877px
}

.sp_xZndl_I--mm.sx_527f13 {
	background-position: 0 -238px
}

.sp_xZndl_I--mm.sx_efeeaa {
	background-position: 0 -259px
}

.sp_xZndl_I--mm.sx_4b42d9 {
	background-position: 0 -280px
}

.sp_xZndl_I--mm.sx_0e11e1 {
	width: 12px;
	height: 12px;
	background-position: 0 -1112px
}

.sp_xZndl_I--mm.sx_8548be {
	width: 16px;
	height: 16px;
	background-position: 0 -894px
}

.sp_xZndl_I--mm.sx_4182e5 {
	background-position: 0 -301px
}

.sp_xZndl_I--mm.sx_5c75b2 {
	background-position: 0 -322px
}

.sp_xZndl_I--mm.sx_35cd56 {
	width: 24px;
	height: 24px;
	background-position: 0 0
}

.sp_xZndl_I--mm.sx_38ce83 {
	width: 24px;
	height: 24px;
	background-position: 0 -25px
}

.sp_xZndl_I--mm.sx_23de21 {
	background-position: 0 -343px
}

.sp_xZndl_I--mm.sx_1a26d5 {
	width: 24px;
	height: 24px;
	background-position: 0 -50px
}

.sp_xZndl_I--mm.sx_10f94d {
	background-position: 0 -364px
}

.sp_xZndl_I--mm.sx_a0bdf0 {
	width: 24px;
	height: 24px;
	background-position: 0 -75px
}

.sp_xZndl_I--mm.sx_ffd5fd {
	background-position: 0 -385px
}

.sp_xZndl_I--mm.sx_7d5613 {
	width: 24px;
	height: 24px;
	background-position: 0 -100px
}

.sp_xZndl_I--mm.sx_1e648a {
	background-position: 0 -406px
}

.sp_xZndl_I--mm.sx_853c3e {
	background-position: 0 -427px
}

.sp_xZndl_I--mm.sx_1241e3 {
	background-position: 0 -448px
}

.sp_xZndl_I--mm.sx_858b01 {
	background-position: 0 -469px
}

.sp_xZndl_I--mm.sx_3202d6 {
	width: 12px;
	height: 12px;
	background-position: 0 -1125px
}

.sp_xZndl_I--mm.sx_faeb06 {
	width: 16px;
	height: 16px;
	background-position: 0 -911px
}

.sp_xZndl_I--mm.sx_e5152c {
	background-position: 0 -490px
}

.sp_xZndl_I--mm.sx_dc1b74 {
	width: 16px;
	height: 16px;
	background-position: 0 -928px
}

.sp_xZndl_I--mm.sx_fb3f1f {
	background-position: 0 -511px
}

.sp_xZndl_I--mm.sx_719ad9 {
	width: 12px;
	height: 12px;
	background-position: 0 -1138px
}

.sp_xZndl_I--mm.sx_11177b {
	width: 16px;
	height: 16px;
	background-position: 0 -945px
}

.sp_xZndl_I--mm.sx_547b35 {
	background-position: 0 -532px
}

.sp_xZndl_I--mm.sx_a9eb95 {
	width: 24px;
	height: 24px;
	background-position: 0 -125px
}

.sp_xZndl_I--mm.sx_21c9df {
	width: 24px;
	height: 24px;
	background-position: 0 -150px
}

.sp_xZndl_I--mm.sx_32a5fe {
	background-position: 0 -553px
}

.sp_xZndl_I--mm.sx_80180e {
	background-position: 0 -574px
}

.sp_xZndl_I--mm.sx_1b54f1 {
	background-position: 0 -595px
}

.sp_xZndl_I--mm.sx_1d9209 {
	width: 12px;
	height: 12px;
	background-position: 0 -1151px
}

.sp_xZndl_I--mm.sx_581fde {
	background-position: 0 -616px
}

.sp_xZndl_I--mm.sx_aa81ac {
	background-position: 0 -637px
}

.sp_xZndl_I--mm.sx_6b7a2a {
	width: 16px;
	height: 16px;
	background-position: 0 -962px
}

.sp_xZndl_I--mm.sx_cc7b33 {
	background-position: 0 -658px
}

.sp_xZndl_I--mm.sx_43cf4a {
	width: 16px;
	height: 16px;
	background-position: 0 -979px
}

.sp_xZndl_I--mm.sx_24e87f {
	background-position: 0 -679px
}

.sp_xZndl_I--mm.sx_6dafba {
	width: 12px;
	height: 12px;
	background-position: 0 -1164px
}

.sp_xZndl_I--mm.sx_807b10 {
	width: 16px;
	height: 16px;
	background-position: 0 -996px
}

.sp_xZndl_I--mm.sx_e85295 {
	background-position: 0 -700px
}

.sp_xZndl_I--mm.sx_a95878 {
	background-position: 0 -721px
}

.sp_xZndl_I--mm.sx_290490 {
	background-position: 0 -742px
}

.sp_xZndl_I--mm.sx_0b626c {
	width: 16px;
	height: 16px;
	background-position: 0 -1013px
}

.sp_xZndl_I--mm.sx_350f04 {
	width: 12px;
	height: 12px;
	background-position: 0 -1177px
}

.sp_xZndl_I--mm.sx_91f441 {
	background-position: 0 -763px
}

.sp_xZndl_I--mm.sx_8e4052 {
	background-position: 0 -784px
}

.sp_xZndl_I--mm.sx_fe3bc0 {
	width: 12px;
	height: 12px;
	background-position: 0 -1190px
}

.sp_xZndl_I--mm.sx_b3b50a {
	width: 16px;
	height: 16px;
	background-position: 0 -1030px
}

.sp_xZndl_I--mm.sx_e63cc3 {
	background-position: 0 -805px
}