.sp_Ve68A02uU--{background-image:url(/rsrc.php/v3/yw/r/KPf30tmZZI4.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:120px;width:106px}.sp_Ve68A02uU--.sx_67fca2{background-position:0 0}

#bootloader_rktJu{height:42px;}.bootloader_rktJu{display:block!important;}