.sp_QqFTFTtwJng{background-image:url(/rsrc.php/v3/yf/r/-lG0DLnvD74.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:8px;width:8px}.sp_QqFTFTtwJng.sx_bc242a{background-position:0 0}

#bootloader_HfVl9{height:42px;}.bootloader_HfVl9{display:block!important;}